* {
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    background-color: #F9F9F9;
    margin: 0; 
    font-size:s 1em;
    align-items: center;
    justify-items: center;
    overflow-x: hidden;
}

.container{
    max-width: 100%;
    overflow-x: hidden;
}

nav {
    background-color: #1F1F1F;
    width: 100%;
    height: 70px; 
    display: flex;
    position: fixed;
    z-index: 9999;
}

#menuIcon {
    padding: 20px;
    display: none;
}

.menu {
    width: 70%;
    height: 100%;
    display: flex;
}

.listContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; 
    display: flex; 
    align-items: center; 
}

li {
    height: 100%; 
}

li a {
    display: flex;       
    align-items: center;      
    justify-content: center;
    color: white;
    padding: 0 25px; 
    height: 100%; 
    text-decoration: none;
}

#main_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

#menuli a:hover {
    background-color: #242424;
}

.surf {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;
    left: 15px;
}

.search-container {
    width: 100%; 
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#textfield {
    width: 350px;           
    height: 40px;     
    padding: 0px 20px;      
    border-radius: 20px;     
    border: 0px;
    outline: none;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.1) inset, -6px -6px 6px white inset;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}

#search_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 24px;              
    width: 24px; 
    position: absolute;   
    right: 30px          
}

#search_button svg {
    fill: #434343;
}

#search_button:hover svg {
    fill: #000;    
}

/*-------------HEADER--------------*/

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container{
    min-height: 500px;
    max-width: 1050px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

#headerdiv{
    width: auto;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 0px 10px;
}

#mission{
    flex-wrap: wrap;
    text-align: justify;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
}

#pglogohome{
    flex-wrap: wrap;
    text-align: justify;
    margin: 0px 0px 10px 0px;
}

#ppglogohome #imgpglogohome{
    width: 350px;
}

.donation-container {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
}

.donation{
    padding: 0px 60px 0px 60px;
    width: 100%;
}

#close-container{
    display: flex;
    padding: 8px 8px 0px 0px;
    margin: 0;
    align-items: right;
    justify-content: right;
}

#close {
    align-items: right;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 1000; 
}

#p1, #p2{
    margin-top: 0px;
    flex-wrap: wrap;
    text-align: justify;
}

#p-container{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 20px 0px;
}

#donation_button {
    align-self: flex-end;
    width: 200px;
    height: 35px;
    background-color: #C8A92E;
    border: none;
    border-radius: 5px;
    color: azure;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

.logo, .donation, .search{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px 0px 10px 0px;
}

.search{
    padding:  40px 0px 0px 0px;
    position: relative;
    display: flex; 
    align-items: center;
    width: 97%;
    max-width: 1050px; 
}

#browse_e-books {
    background-color: transparent;
    flex-grow: 1; 
    height: 50px;
    border-radius: 20px;
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border: 1px solid rgb(204, 204, 204);
}

#csearch-searchbutton {
    position: absolute;
    right: 10px; 
    height: 35px;
    width: 35px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%; 
}

#browse_e-books:hover,
#browse_e-books:focus{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px rgb(255, 255, 255);
    outline: none;
    border-color: transparent;
}

/*---------------MAIN-----------------*/

main {
    height: 100%;
    width: 100%;
}

.main-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.ebooks-container {
    height: auto;
    width: 100%;
    max-width: 1050px;
    margin: 0;
}

#headings {
    padding: 10px 0;
    margin: 40px 0 0;
}

#hrheadings {
    height: 5px;
    background-color: #000000;
    border: none;
    width: 100%;
    margin: 10px 0;
}

.ebooks {
    min-height: 100px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.book {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 163.40px; 
}

.book:hover{
    text-decoration: underline;
    transform: scale(1.01);
    color: #C8A92E;
}

.cover {
    height: 250px;
    width: 163.40px;
}

.title {
    display: block; 
    max-width: 100%; 
    margin: 8px 0;
    text-align: center;
    word-wrap: break-word; 
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 1cqmin #eaeaea;
    transition: background-color 2s linear 0s;
}

.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1), -6px -6px 10px rgb(255, 255, 255);
}

.cover img:hover {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px rgb(255, 255, 255);
}

/*---------------FOOTER-----------------*/

footer {
    background-color: #1F1F1F;
    max-width: 100%;               
    height: auto;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.footer_container {
    max-width: 100%;   
    width: 1050px;
    height: 100%;
    display: flex;   
    flex-wrap: wrap;            
}

.footer-informations{
    width: 100%;
    max-width: 1050px;   
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 20px;
    padding: 0;
}

.info {
    width: 25%;                 
    color: white;
    padding: 20px 5px 0px 5px;
}

#footerhr {
    background-color: white;
    margin: 20px auto;     
}

#links{
    padding: 0px;
    margin: 3px;
}

#socials{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

p img{
    width: 35px;
}

p a{
    text-decoration: none;
    color: #ebebeb;
}

.footer_about {
    height: 20%;
    margin: auto;
    padding: 50px 0px 40px 0px;
}

.footer_about li{
    margin: 5px 15px;
    text-align: center;
    max-width: 200px;
}

.footer_about ul {
    display: flex;
    justify-content: center;  
    list-style-type: none;    
    padding: 0;
    margin: 0;
}

.footer_about #about {
    margin: 0 15px;           
}

.footer_about #about a {
    text-decoration: none;   
    color: white;           
    font-size: 16px;         
}

#links a:hover, #about a:hover {
    text-decoration: underline; 
}

@media (max-width: 768px) {
    .footer_about ul {
        justify-content: space-evenly; 
    }

    .footer_about li{
        padding: 0;
        margin: 0;
    }
    
    .footer_container {
        width: 100%;
        flex-direction: column; 
        align-items: center;
    }

    #socials {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .footer-informations{
        width: auto;
    }

    .footer_about{
        margin: 0px 40px;
        
    }

    .footer_about ul{
        flex-direction: column;
    }

}

@media (max-width: 1050px){
    #menuIcon {
        display: block;
    }

    #listContainer {
        position: fixed;
        display: none;
        flex-direction: column;
        top:70px;
        left: 0px;
        bottom: 0px;
        width: clamp(40vw, 50vw, 60vw);
        background-color: #1F1F1F;
        opacity: 0.9;
    }
    #headerdiv{
        margin: 0px 30px;
    }

    .ebooks-container{
        margin: 0px 40px;
    }

}
/*
@media (min-width:1100px){
    #listContainer {
        display: flex;
        flex-direction: row;
    } 
}
*/